.rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #2c2c2c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

header {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  h1 {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: -0.285714px;
    color: #ffffff;
    margin-block: 32px;
  }
  .search {
    max-width: 575px;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
    padding-inline: 10px;
    #searchInput {
      width: 100%;
      height: 100%;
      border: none;
      background: #ffffff;
      border-radius: 15px 0 0 15px;
      padding-inline-start: 24px;
      outline: none;
      cursor: pointer;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;

      &::placeholder {
        opacity: 0.5;
      }

      &::-webkit-input-placeholder {
        opacity: 0.5;
      }

      &::-moz-placeholder {
        opacity: 0.5;
      }

      &:-ms-input-placeholder {
        opacity: 0.5;
      }
    }
    .searchBtn {
      width: 58px;
      height: 100%;
      border: none;
      border-radius: 0 15px 15px 0;
      background: #000;
      background-image: url('./images/icon-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #3f3f3f;
      }
    }
  }
}

main {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .output {
    max-width: 1110px;
    width: 95%;
    min-height: 161px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
    border-radius: 15px;
    display: flex;
    margin-inline: auto;
    z-index: 3;
    .outputItem {
      width: 25%;
      padding: 36px 32px;
      display: flex;
      flex-direction: column;
      position: relative;
      word-break: break-word;

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.75px;
        text-transform: uppercase;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
      span {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.232143px;
      }
    }
  }
}

.outputItem:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 75px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.15;
}

#mapa {
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  box-sizing: border-box;
  background-repeat: no-repeat;
  z-index: -1;
  min-height: 520px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header {
    height: 35vh;
    h1 {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.232143px;
      margin-block: 26px;
    }
    .search {
      /* max-width: 347px; */
      width: 87%;
      min-width: 327px;
      padding-inline: 0;
    }
  }

  main {
    min-height: 528px;
    .output {
      width: 87%;
      min-width: 327px;
      flex-direction: column;
      top: 167px;
      max-height: 376px;
      .outputItem {
        width: 100%;
        padding: 24px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        max-height: 70px;
        p {
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 1.45833px;
        }
        span {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: -0.18px;
        }
      }
    }
    .outputItem:not(:last-child)::after {
      display: none;
    }
    .outputItem:not(:last-child){
      padding-block-end: 0;
    }
  }
  #mapa {
    min-height: 528px;
  }
}
